<h2>Details of {{ character.name }}</h2>


<h3> Occupation: {{ character.occupation }} </h3>

<p> Weapon: {{ character.weapon }} </p>

<p> Debt: {{character.debt}} </p>

<a href="/characters/{{character.id}}/edit">Edit character</a>

<form action="/characters/{{character.id}}/delete" method="POST">
<button type="submit">Delete Character</button></form>