<h2>Details of {{ character.name }}</h2>


<h3> Occupation: {{ character.occupation }} </h3>

<p> Weapon: {{ character.weapon }} </p>
<a href="/edit/{{character.id}}">editar</a>
<a href="/delete/{{character.id}}">delete</a>