<h2>Details of {{ character.name }}</h2>


<h3> Occupation: {{ character.occupation }} </h3>

<p> Weapon: {{ character.weapon }} </p>

<a href="/character/edit/{{character.id}}">Edit</a>
<a href="/character/delete/{{character.id}}">Delete</a>