<h2>Details of {{ character.name }}</h2>


<h3> Occupation: {{ character.occupation }} </h3>

<p> Weapon: {{ character.weapon }} </p>

<a href="/characters/edit/{{character.id}}">Edit character</a>
<a href="/characters/delete/{{character.id}}">Delete character</a>