<h2>Details of {{ character.name }}</h2>


<h3> Occupation: {{ character.occupation }} </h3>

<p> Weapon: {{ character.weapon }} </p>

<a href="/characters/{{character.id}}/edit" class="btn btn-warning btn-sm">Editar</a>

<form action="/characters/{{character.id}}/delete" method="POST" style="display: inline">
    <input type="submit" value="Eliminar alumno" class="btn btn-danger" style="display: inline;">
</form>