<h2>Details of {{ characters.name }}</h2>


<h3> Occupation: {{ characters.occupation }} </h3>

<p> Weapon: {{ characters.weapon }} </p>

<a href="/characters/{{characters.id}}/edit" class="btn btn-warning">Update</a>

<form action="/characters/{{characters.id}}/delete" method="POST" style="display: inline">
    <input type="submit" value="Delete" class="btn btn-danger">
</form>