<h2>Details of {{ character.name }}</h2>

<h3> Occupation: {{ character.occupation }} </h3>

<p> Weapon: {{ character.weapon }} </p>

<a href="/characters/edit-character/{{character.id}}">edit</a>
<a href="/characters/deleted/{{character.id}}">deleted</a>
boo