<h2>Details of {{ character.name }}</h2>

<h3> Occupation: {{ character.occupation }} </h3>

<p> Weapon: {{ character.weapon }} </p>

<p> Debt: {{ character.debt }} </p>

<form action="/character/{{character.id}}/edit" method="GET">
<input type="submit" value="Edit Character" class="btn-dark btn">
</form>

<br>

<form action="/characters/{{character.id}}/delete" method="GET">
<input type="submit" value="Delete Character" class="btn-dark btn">
</form>