<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <h2><b>Details of {{ character.name }}</b></h2>
            <hr>
            <p> Occupation: {{ character.occupation }}
            <p>
                <hr>
            <p>Weapon: {{ character.weapon }} </p>

            <hr>
            <a href="/characters/{{ character.id }}/edit">Edit</a>
            <hr>
            <form action="/characters/{{ character.id }}/delete" method="POST">
                <input class="btn btn-dark" type="submit" value="Delete">
            </form>

        </div>
    </div>
</div>