<h2>{{ character.name }}</h2>

<hr>

<p> Occupation: {{ character.occupation }} </p>

<p> Weapon: {{ character.weapon }} </p>

<p> Debt: {{ character.debt }}</p>

<hr>

<a href="/characters/edit/{{character.id}}"> Edit Character </a>

<form action="/characters/delete/{{character.id}}" method="POST">
    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
</form>

<hr>

<a href="/characters"> Go Back</a>