<div class="container">
    <h2>Details of {{ character.name }}</h2>
    <hr>

    <h3> Occupation: {{ character.occupation }} </h3>

    <h3> Weapon: {{ character.weapon }} </h3>

    <div class="mb-3">
        <a href="/characters/{{character.id}}/editar" class=" btn btn-warning btn-sm">Editar</a>
    </div>
    <div>
        <form action="/characters/{{character.id}}/eliminar" method="POST">
            <input type="submit" value="eliminar" class="btn btn-danger btn-sm">
        </form>
    </div>
</div>