<div class="details">
    <h2>{{ character.name }}</h2>


    <p> Occupation: {{ character.occupation }} </p>

    <p> Weapon: {{ character.weapon }} </p>

    <div class="references">
                <a class="btn btn-warning" href="/characters/{{character.id}}/edit">Edit</a>
                <form action="/characters/{{character.id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>  

</div>