<h2>Editar personaje </h2>

<h2>Name: {{ character.name }}</h2>


<h3> Occupation: {{ character.occupation }} </h3>

<p> Weapon: {{ character.weapon }} </p>

<hr>


<form action="/characters/{{id}}/edit" method="POST">
    <label>
        Name: <input type="text" name="name" value="{{character.name}}">
    </label>

    <label>
        Occupation: <input type="text" name="occupation" value="{{character.occupation}}">
    </label>

    <label>
        Weapon: <input type="text" name="weapon" value="{{character.weapon}}">
    </label>

    <input type="submit" value="Update character" class="btn-dark btn">
</form>

</div>
</div>
</div>

</div>