<div class='container mt-5'>

  <h1>Characters List</h1>
  <hr />

  <div class='row'>

    {{#each characters}}

      <div class='col-md-4'>

        <article class='character-card mb-5'>

          <h4>{{name}}</h4>
          <hr />
          <p>ID: {{id}}</p>
          <p>Occupation: {{occupation}}</p>
          <p>Weapon: {{weapon}}</p>
          <hr />

          <div class='row d-fluid'>

            <div class='col'>
              <div class='d-grid'>
                <a href='/characters/{{id}}/details' type='submit' class='btn btn-info btn-sm'>Details</a>
              </div>
            </div>

            <div class='col'>
              <div class='d-grid'>
                <a href='/characters/{{id}}/edit' type='submit' class='btn btn-warning btn-sm'>Edit</a>
              </div>
            </div>

          </div>

        </article>

      </div>
    {{/each}}
  </div>

</div>