<div class="container mt-5">

    <div class="row">

        {{#each characters}}

        <div class="col-md-3">

            <article class="character-card mb-5">

                <h4>{{name}}</h4>
                <hr>
                <p>Occupation: {{occupation}}</p>
                <p>Weapon: {{weapon}}</p>
                <p>Debt: {{debt}}</p>

                <div class="d-grid">

                    <a href="/character/{{id}}" class="btn btn-dark">Ver detalles</a>


                </div>

            </article>

        </div>
        {{/each}}
    </div>

</div>