<h2> Characters List </h2>

<div class="row">
    {{#each characters }}

    <div class="col-3 p-2">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title"><a href="/characters/{{id}}"> {{ name }} </a></h5>
                <p class="card-text">{{occupation}}</p>
                <p class="card-text">{{debt}}</p>
                <p class="card-text">{{weapon}}</p>
                <div class="d-flex justify-content-center">
                    <a href="/characters/edit/{{id}}" class="btn btn-warning mx-1">Edit</a>
                    <form action="/characters/delete/{{id}}" method="post" class="mx-1">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
            </div>

        </div>
    </div>

    {{/each}}

</div>