<h1>UPDATEEEEEEEEEEEEEEEEE</h1>

<form action="/characters/update/{{id}}" method="post">
    <label for="">Nombre</label>
    <input type="text" name="name" value="{{name}}">

    <label for="">occupation</label>
    <input type="text" name="occupation" value="{{occupation}}">

    <label for="">Debt</label>
    <input type="text" name="Debt" value="{{debt}}">

    <label for="">Weapon</label>
    <input type="text" name="weapon" value="{{weapon}}">

    <button type="submit">Registro</button>
</form>